:root {
    --text: #0c0b0a; /* Dark brown for text */
    --background: #f3e7e2; /* Light pink for background */
    --primary: #E2C4BB; /* Brown for primary elements */
    --secondary: #B6795F; /* Grey for secondary elements */
    --accent: #a69bae; /* Light purple for accent */
    --accent2: #7d8792ff; /* Grey for accent */
    --accent3: #97b197ff; /* Light pink for accent */
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: var(--background); /* Light pink background */
    color: var(--text); /* Dark brown text */
    text-align: center;
}

.content {
    text-align: center;
}

.section {
    padding: 50px;
}

.spacer {
    height: 75px; /* Adjust this value as needed */
}

.spacer2 {
    height: 15px; /* Adjust this value as needed */
}

.spacer3 {
    height: 50px; /* Adjust this value as needed */
}

#intro img {
    max-width: 100%;
    border-radius: 40%;
    padding: 30px 0;
    text-align: center;
}

.info {
    padding: 20px;
    text-align: left;
}

strong {
    color: var(--secondary);
}

.image-gallery {
    display: flex;
    overflow: hidden;
}

.image-gallery img {
    width: 15%; /* Adjust the width as desired */
    height: auto;
    margin-right: 10px; /* Add space between images */
    animation: rotateGallery 100s infinite linear;
}

@keyframes rotateGallery {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
}

header {
    margin-top: 50px;
    text-align: center;
    background-color: var(--primary); /* Brown */
    color: var(--text); /* Dark brown */
    padding: 20px 0;
}

header h1 {
    font-size: 3.5rem;
    text-align: center; /* Center align the text */
}

a {
    color: var(--text); /* Grey for links */
}

a:hover {
    color: var(--primary); /* Dark brown on hover */
}

.projectOne a:hover {
    color: var(--secondary); /* Dark brown on hover */
}

.projects {
    margin-left: 10%;
    margin-right: 10%;
}

.project, .projectOne {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}

.project {
    border: 2px solid var(--secondary); /* Grey */
    background-color: var(--secondary);
}

.projectOne {
    border: 2px solid var(--primary); /* Grey */
    background-color: var(--primary);
    text-align: right;
    padding-left: 10%;
}

.project img, .projectOne img {
    float: right;
    padding: 20px 0;
}

#album {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between images */
}

#album img {
    height: 200px;
    width: 200px;
    padding: 10px 0;
}

.one, .two, .three {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}

.one {
    border: 2px solid var(--secondary); /* Grey */
    background-color: var(--secondary);
}

.two {
    border: 2px solid var(--background); /* Grey */
    background-color: var(--background);
}

.two .text-bg-primary {
    background-color: var(--primary) !important;
    color: var(--text);
}

.two .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text);
}

.three {
    border: 2px solid var(--primary); /* Grey */
    background-color: var(--primary);
}

.three .btn-primary {
    background-color: var(--background);
    border-color: var(--background);
    color: var(--text);
    text-align: center;
}

.three .text-bg-primary {
    background-color: var(--background) !important;
    color: var(--text);
}

#character-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    color: var(--text);
}

.projecst:hover, .projectsOne:hover {
    border-color: var(--accent); /* Light purple */
}

.projects h3 {
    margin-bottom: 10px;
}

.projects p {
    margin-bottom: 5px;
}

footer {
    background-color: var(--secondary); /* Brown */
    color: var(--text); /* Dark brown */
    text-align: center;
    padding: 20px 0;
}

.navbar {
    background-color: var(--secondary); /* Custom color */
    font-size: 1.5rem;
}

.navbar-brand {
    color: var(--secondary);
    background-color: var(--secondary); /* Custom color */
}

.dropdown {
    color: var(--secondary);
}

.navbar-toggler-icon {
    background-color: var(--secondary); /* Custom color */
    color: var(--text); /* Custom color */
}

.navbar-nav .nav-link {
    color: var(--text); /* Custom color */
}

.navbar-nav .nav-link:hover {
    color: var(--primary); /* Custom color */
}

.dropdown-menu {
    background-color: var(--secondary); /* Custom color */
    color: var(--text);
}

.dropdown-item {
    color: var(--text); /* Custom color */
}

.dropdown-item:hover {
    color: var(--text); /* Custom color */
    background-color: var(--primary); /* Custom color */
}

.dropdown-divider {
    border-top-color: var(--secondary); /* Custom color */
}

.offcanvas-end {
    background-color: var(--secondary);
}
/* helped with the clean up to make it go faster FAILED (10.0 minutes): https://daria-astahova.github.io/styles.css
FAILED (10.0 minutes): https://daria-astahova.github.io/images/1698703211743.jpg
FAILED (10.0 minutes): https://daria-astahova.github.io/images/IMG_7033.jpg i fixed the style sheet so it loads faster */

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--primary) !important;
    --bs-btn-border-color: var(--primary) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--primary) !important;
    --bs-btn-hover-border-color: var(--primary) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--primary) !important;
    --bs-btn-active-border-color: var(--primary) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: var(--primary) !important;
    --bs-btn-disabled-border-color: var(--primary) !important;
}

.myCarousel img {
    height: 500px;
    width: 100%;
}
