:root {
    --text: #0c0b0a; /* Dark brown for text */
    --background: #f3e7e2; /* Light pink for background */
    --primary: #E2C4BB; /* Brown for primary elements */
    --secondary: #B6795F; /* Grey for secondary elements */
    --accent: #a69bae; /* Light purple for accent */
    --accent2:  #7d8792ff; /* Grey for accent */
    --accent3: #97b197ff; /* Light pink for accent */
}


body {
    font-family: 'Pacifico','Handwritten Font', cursive;
    padding: 0;
    background-color: var(--background); /* Light pink background */
    color: var(--text); /* Dark brown text */
    text-align: center;
  
}
.content{
    text-align: center;
}
.section {
    padding: 50px;
}

.spacer {
    height: 75px; /* Adjust this value as needed */

}

#intro img {
    max-width: 100%;
    border-radius: 40%;
    padding: 30px 0;
    text-align: center;
}

header {
    margin-top: 50px;
    text-align: center;
    background-color: var(--primary); /* Brown */
    color: var(--text); /* Dark brown */
    padding: 20px 0;
}

header h1 {
    font-size: 3.5rem;
    text-align: center; /* Center align the text */
}

a {
    color: var(--text); /* Grey for links */
}

a:hover {
    color: var(--primary); /* Dark brown on hover */
}

.projectOne a:hover {
    color: var(--secondary); /* Dark brown on hover */
}


.project {
    border: 2px solid var(--secondary); /* Grey */
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}

.projectOne {
    border: 2px solid var(--primary); /* Grey */
    background-color: var(--primary);
    border-radius: 10px;
    text-align: right;
    padding: 20px;
    padding-left: 10%;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}

.projectOne img {
    float: left;
    padding: 20px 0;
}

.project img {
    float: right;
    padding: 20px 0;
}

#album {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between images */
}

#album img {
    height: 200px;
    width: 200px;
    padding: 10px 0;
}

.one {
    border: 2px solid var(--secondary); /* Grey */
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}

.two {
    border: 2px solid var(--background); /* Grey */
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}
.three{
    border: 2px solid var(--primary); /* Grey */
    background-color: var(--primary);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px; /* Increase the margin-bottom value to add space between rows */
}
#character-buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    color:var(--text);

}
.project:hover {
    border-color: var(--accent); /* Light purple */
}

.projectOne:hover {
    border-color: var(--accent); /* Light purple */
}

.project h3 {
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 5px;
}

footer {
    background-color: var(--secondary); /* Brown */
    color: var(--text); /* Dark brown */
    text-align: center;
    padding: 20px 0;
}

.navbar {
    background-color: var(--secondary); /* Custom color */
    font-size: 1.5rem;
}

.navbar-brand {
    color: var(--secondary);
    background-color: var(--secondary); /* Custom color */
}

.dropdown {
    color: var(--secondary);
}

.navbar-toggler-icon {
    background-color: var(--secondary); /* Custom color */
    color: var(--text); /* Custom color */
}

.navbar-nav .nav-link  {
    color: var(--text); /* Custom color */
}

.navbar-nav .nav-link:hover {
    color: var(--primary); /* Custom color */
}

.dropdown-menu {
    background-color: var(--secondary); /* Custom color */
    color: var(--text);
}

.dropdown-item {
    color: var(--text); /* Custom color */
}

.dropdown-item:hover {
    color: var(--text); /* Custom color */
    background-color: var(--primary); /* Custom color */
}

.dropdown-divider {
    border-top-color: var(--secondary); /* Custom color */
}

.offcanvas-end {
    background-color: var(--secondary);
}